// Theming variables
$body-bg-color: #EFEFF2;
$bg-color-card-darker: #2d2f34;
$bg-color-card-lighter: white;


// Font variables
$font-color-lighter: black;
$font-color-darker: white;
$font-family: 'Merriweather', serif;
$font-size: 20px;
$font-bold: bold;